.about {

  display: none;
  @media screen and (min-width:1200px) {
    display: block;
}
}

.about__list {
    display: flex;
    gap: 30px;
  }
  
  .about__item {
    position: relative;
  }
  
  .about__disc-box {
    color: var(--white-color);
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  }