.contacts {
  display: none;

  @media screen and (min-width:768px){
    display: block;
    :not(:last-child){
      margin-bottom: 10px;
    }
  }

    @media screen and (min-width:1200px){
      display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
    }
  }
  
  .header__contacts {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
      color: var(--main-studio-color);
    }

    @media screen and (min-width:768px) {
      font-size: 12px;
      line-height: calc(14/12);
      
  }

  @media screen and (min-width:1200px){
    margin-bottom: 0;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
  }
  
  .contact__icons {
    margin-right: 10px;
    fill: var(--header-contact-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .header__contacts:hover &,
    .header__contacts:focus &{
      fill: var(--main-studio-color);

    }

    @media screen and (min-width:768px){
      margin-right: 8px;
    }

    @media screen and (min-width:1200px){
      margin-right: 10px;
    }
  }