.features {
    padding-bottom: 60px;

    @media screen and (min-width: 1200px){
      padding-bottom: 0;
    }
  }
  
  .fuatures__icons-boxes {
    height: 120px;
    background-color: var(--filter-option-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:768px){
      width: 354px;
    }

    @media screen and (min-width:1200px){
       width: 270px;
    }
  }
  
  .features__list {
    display: block;

    @media screen and (min-width:768px) {
      display: flex;
      gap:30px;
      flex-wrap:wrap ;
    }

    @media screen and (min-width:1200px){
      display: flex;
      gap: 30px;
    }
  }
  
  .features__list h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    
    @media screen and (min-width:768px){
      display: block;
    }
  }
  
  .features__list p {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--description-main-color);
    width: 450px;

    @media screen and (min-width:768px){
      width: 354px;
    }

    @media screen and (min-width:1200px){
      width: 270px;
   }
  }