.bottom-main-box {
   margin-bottom: 60px;

    @media screen and (min-width:768px){
      margin-right: 168px;
    }

    @media screen and (min-width:1200px){
      margin-bottom: 0;
margin-right: 70px;
    }
  }

  .adress-list > :not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width:1200px){
      margin-bottom: 10px;
    }
  }
  
  .studio-adress {
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    color: var(--main-text-color);
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;

    &:hover,&:focus{
        color: var(--main-studio-color);
    }

    @media screen and (min-width:1200px){
      text-align:start;
    }
  }