.bottom-main-box {
    margin-right: 70px;
  }

  .adress-list > :not(:last-child) {
    margin-bottom: 10px;
  }
  
  .studio-adress {
    font-size: 14px;
    line-height: calc(24 / 14);
    font-style: normal;
    color: var(--main-text-color);
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
        color: var(--main-studio-color);
    }
  }