.hero {
    background-color: var(--hero-background-color);
    padding: 118px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;

    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-back-ph-1x.jpg);

      @media (min-device-screen-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-back-ph-2x.jpg);
      }

    @media screen and (min-width:481px){
      max-width: 768px;

      background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-tb-1x.jpg);

      @media (min-device-screen-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-back-tb-2x.jpg);
      }
    }

    @media screen and (min-width:769px){
      padding: 200px 0;
      max-width: 1600px;

      background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-back-de-1x.jpg) ;

      @media (min-device-screen-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-back-de-2x.jpg);
      }
    }

    
  }
  
  .hero__text {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-text-color);
    width: 360px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    @media screen and (min-width:1200px){
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 700px;
    }
  }
  
  .hero__button {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    background-color: var(--main-studio-color);
    color: var(--main-text-color);
    border-radius: 4px;
    cursor: pointer;
    min-width: 215px;
    min-height: 50px;
    padding: 10px 30px;
    border: 0;

    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
        background-color: var(--active-button-color);
    }
  }