.team {
    background-color: var(--filter-option-color);
  }
  
  .team__list {
   display: block;

    @media screen and (min-width:768px){
       display: flex;
        gap: 30px;
        flex-wrap:wrap;
    }
  }
  
  .team__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background: var(--line-up-background-color);
    padding-bottom: 25px;
    margin-bottom: 30px;

    @media screen and (min-width:768px){
      margin-bottom: 0;
    }

    @media screen and (min-width:1200px){ 
      padding-bottom: 30px;
    }
  }
  
  .team__list img {
    margin-bottom: 30px;
    width: 450px;
    height: 260px;

    @media screen and(min-width:768px){
      width: 354px;
      height: 374px;
    }

    @media screen and (min-width:1200px){
      width: 270px;
      height: 260px;
   }
  }
  
  .team__list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-bottom: 10px;
    text-align: center;
  }
  
  .team__list p {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--description-main-color);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .team__social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .team__social-links {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--main-social-icons-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
        background-color: var(--main-studio-color);
    }
  }
  
  .team__social-icons {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .team__social-links:hover &,
.team__social-links:focus &{
        fill: var(--white-color);  
    }
  }