:root {
    --transparent-studio-color: rgba(33, 150, 243, 0.9);
    --main-black-color: rgb(0, 0, 0);
    --main-studio-color: rgba(33, 150, 243, 1);
    --site-nav-color: rgba(33, 33, 33, 1);
    --logo-second-parth: rgba(0, 0, 0, 1);
    --header-contact-color: rgba(117, 117, 117, 1);
    --main-text-color: rgba(255, 255, 255, 1);
    --hero-background-color: rgba(196, 196, 196, 1);
    --active-button-color: rgba(24, 140, 232, 1);
    --description-main-color: #757575;
    --line-up-background-color: rgba(255, 255, 255, 1);
    --bottom-logo-color: rgba(255, 255, 255, 1);
    --bottom-contact-color: rgba(255, 255, 255, 0.6);
    --footer-color: #2f303a;
    --filter-option-color: #f5f4fa;
    --projects-name-color: #212121;
    --white-color: #fff;
    --main-social-icons-color: rgba(175, 177, 184, 1);
    --clients-icons-color: rgba(175, 177, 184, 1);
    --follow-us-icon-background: rgba(255, 255, 255, 0.1);
    --subscribe-imput-color: rgba(255, 255, 255, 0.3);
    --aplication-border-color: rgba(33, 33, 33, 0.2);
    --aplication-placeholder-color: rgba(117, 117, 117, 0.5);
  }